{% extends 'base.html' %}

{% block head %}
<title>AIT-GPT</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="query_box">
        <h3 class="web_title">AIT-GPT</h3>
        <form action="/" method="POST">
            <label for="Enter Prompt">Enter Prompt:</label>
            <br>
            <div class="prompt_inner">
                <input type="text" name="prompt_question" id="fill_in" value="{{ prompt_question }}" required="required">
            </div>
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>
</div>    

{% if answer and ref_list %}
<div class="answer">
    <p><b>Answer:</b> {{ answer }}</p>
    <h4>Here's some documents relevant to this topic...</h4>
    <ul>
        {% for ref in ref_list %}
        <li>{{ ref['ref_text'] }} (<a href="{{ url_for('static', filename='docs/') }}{{ ref['ref_link'] }}">link</a>)</li>
        {% endfor %}
    </ul>
</div>

{% endif %}

{% endblock %}